@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,700;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rowdies:wght@300;400;700&display=swap");
.pt-sans-bold {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}
body {
  background: #f4f6f9;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #2c3e50;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 30px;
  color: #444444;
  background: #ffffff;
  text-shadow: 1px 0px 1px #cccccc, 0px 1px 1px #eeeeee, 2px 1px 1px #cccccc,
    1px 2px 1px #eeeeee, 3px 2px 1px #cccccc, 2px 3px 1px #eeeeee,
    4px 3px 1px #cccccc, 3px 4px 1px #eeeeee, 5px 4px 1px #cccccc,
    4px 5px 1px #eeeeee, 6px 5px 1px #cccccc, 5px 6px 1px #eeeeee,
    7px 6px 1px #cccccc;
  color: #444444;
  background: #ffffff;
}

.header h1 {
  font-size: 4rem;
  font-weight: bold;
}

.header span {
  color: #3498db;
}

/* Cards */
.card {
  background: #fff;
  padding: 40px;
  margin-bottom: 30px;
  border-radius: 12px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.6);
  text-align: center;
  color: black;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
}

.card h2 {
  margin-bottom: 30px;
  color: #197278;
  font-size: 35px;
}

/* Formulario */
.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: 600;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: 0.3s;
}

input:focus {
  border-color: #3498db;
  outline: none;
  box-shadow: 0 0 6px rgba(52, 152, 219, 0.3);
}

.form-actions {
  font-size: 30px;
  padding-left: 170%;
}

/* Botones */
.btn {
  box-shadow: inset 0px 1px 0px 0px #caefab;
  background: linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
  background-color: #77d42a;
  border-radius: 6px;
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #306108;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 13px 76px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #aade7c;
  transition: 0.3s;
}

.btn-primary {
  background: #3498db;
  color: white;
}

.btn-primary:hover {
  background: #2980b9;
}

.btn-success {
  background: #27ae60;
  color: white;
}

.btn-success:hover {
  background: #219150;
}

.btn-danger {
  background: #e74c3c;
  color: white;
}

.btn-danger:hover {
  background: #c0392b;
}

/* Buscador */
.search-bar {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  padding-left: 33%;
}

.result ul {
  list-style: none;
  padding: 0;
}

.result li {
  margin: 5px 0;
}

.not-found {
  color: #e74c3c;
  font-weight: bold;
}

/* Tabla */
.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
}

thead {
  background: #3498db;
  color: white;
}

th,
td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.empty {
  text-align: center;
  color: #7f8c8d;
  font-style: italic;
}

.alerta{
  color: red;
}